body {
    background-color: grey;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
    text-decoration: underline solid;
    text-align: center;
    background-color: black;
    margin: 0 auto;
    padding: 10px;
    font-size: 2em;
}
div {
    text-align: center;
    padding-bottom: 10px;
}




footer {
    background-color: black;
    margin-top: 5px;
    padding: 4px;
    font-size: .5em;
    margin-top: 5px;
}

p{
    color: white;
    text-align: center;
    font-size: 1.5em;
}

#bottom {
    margin-bottom: 100em;
}